name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Ensure browsers are installed
      run: python -m playwright install --with-deps

    - name: Run test on desktop
      run: |
        pytest --tracing=retain-on-failure --video=retain-on-failure --html=resultsdesktop.html --device="Desktop Chrome"

    - name: Run test on mobile
      run: |
        pytest --tracing=retain-on-failure --video=retain-on-failure --html=resultsmobile.html --device="iPhone 12"

    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: playwright-error-traces
        path: test-results/

    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: playwright-video-desktop
        path: test-results/videos/*.webm

    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: playwright-video-mobile
        path: test-results/videos/*.webm

    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report-desktop
        path: resultsdesktop.html

    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report-mobile
        path: resultsmobile.html

